 // Font Family
 @font-family: "PingFangSC-Regular",sans-serif, Arial,"Microsoft YaHei", "Droid Sans";
 @col-bg:rgb(236, 99, 99);
 @f-content:13px;
 @col-text-base:#fff;
 @col-text-grey:#ACACAC;
 @col-main:#FFA400;
 @col-border-base:#7D7D7D;
 @col-border-base-hover:@col-main;
 @var:0.65;
 @w-main:1248px;
