@import "../assets/css/variable.less";
.main{
    // width: @w-main;
    // margin: 0 auto;
    background-image: url('../assets/img/bg.jpg');
    height:100%;
    background-size:100% auto;
    .main-content{
        width: @w-main;
        margin: 0 auto;
    }
}